In [2]:
import numpy as np
import pandas as pd
import pickle
import talib.abstract as ta

In [9]:
with open('./MomentumFeature.pkl', 'rb') as f:
    df_dict = pickle.load(f)

# Display one example to confirm successful loading
df_dict["000001"].head()

            Adj_close_price
Date
2001-01-01         3.089081
2001-01-02         3.095463
2001-01-03         3.072061
2001-01-04         3.052914
2001-01-05         3.021001

In [10]:
# ta.TRIX(df_dict_cleaned["000001"]["Adj_close_price"], timeperiod=30)
# ta.RSI(df_dict_cleaned["000001"]["Adj_close_price"], timeperiod=14)
# ta.PPO(df_dict_cleaned["000001"]["Adj_close_price"], fastperiod=12, slowperiod=26, matype=0)
# ta.MOM(df_dict_cleaned["000001"]["Adj_close_price"], timeperiod=10)
# ta.macd, macdsignal, macdhist = MACDFIX(real, signalperiod=9)
# ta.CMO(df_dict_cleaned["000001"]["Adj_close_price"], timeperiod=14)
# ta.APO(df_dict_cleaned["000001"]["Adj_close_price"], fastperiod=12, slowperiod=26, matype=0)

In [11]:
for key in df_dict:
    df_dict[key]["TRIX"] = ta.TRIX(df_dict[key]["Adj_close_price"], timeperiod=30)
    df_dict[key]["RSI"] = ta.RSI(df_dict[key]["Adj_close_price"], timeperiod=14)
    df_dict[key]["PPO"] = ta.PPO(df_dict[key]["Adj_close_price"], fastperiod=14, slowperiod=30, matype=0)
    df_dict[key]["MOM"] = ta.MOM(df_dict[key]["Adj_close_price"], timeperiod=14)
    df_dict[key]["macd"],df_dict[key]["macdsignal"],df_dict[key]["macdhist"] = ta.MACDFIX(df_dict[key]["Adj_close_price"], signalperiod=14)
    df_dict[key]["CMO"] = ta.CMO(df_dict[key]["Adj_close_price"], timeperiod=14)
    df_dict[key]["APO"] = ta.APO(df_dict[key]["Adj_close_price"], fastperiod=14, slowperiod=30, matype=0)

In [12]:
df_dict["000001"].head()

,Adj_close_price,TRIX,RSI,PPO,MOM,macd,macdsignal,macdhist,CMO,APO
Date,,,,,,,,,,
2001-01-01,3.089081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-02,3.095463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-03,3.072061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-04,3.052914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-05,3.021001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Define the file path
output_path = './MomentumFeature.pkl'

# Save the dictionary to a pickle file
with open(output_path, 'wb') as f:
    pickle.dump(df_dict, f)

output_path

'./MomentumFeature.pkl'